[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/avast-tl/googletest
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/avast-tl/jsoncpp
[submodule "deps/tl-cpputils"]
	path = deps/tl-cpputils
	url = https://github.com/avast-tl/tl-cpputils
